version: '3.8'

services:
  #  juice-shop:
  #   image: bkimminich/juice-shop
  #  ports:
  #   - "3000:3000"
  #networks:
  # - zapnet

  zap:
    image: ictu/zap2docker-weekly
    depends_on:
      - juice-shop
    networks:
      - zapnet
    volumes:
      - ./zap-config:/zap/wrk:ro
    # - ./reports:/zap/reports
    command: >
      sh -c "sleep 10 && zap-full-scan.py
       -t http://juice-shop-${{ secrets.AZURE_DNS_LABEL }}.switzerlandnorth.azurecontainer.io:3000 
       -r /tmp/zap-report.html 
       -J /tmp/zap-report.json"

networks:
  zapnet:
    driver: bridge
